* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    margin: 5px 4px;
    border-radius: 8px;
    background-color: #e7e8d8;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #6e8556;
}

.font-title {
    font-family: "Montserrat", "Noto", sans-serif;
    font-optical-sizing: auto;
    font-variant:small-caps;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8em;
    margin-bottom: 2px;
    line-height: 1em;
}

.font-subtitle {
    font-family: "Noto", sans-serif;
    font-variant:small-caps;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4em;
    line-height: 0.7em;
}

.font-notice {
    font-family: "Noto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
    line-height: 0.7em;
}

.font-p {
    font-family: Baskerville, "Times New Roman", Georgia, serif;
    font-optical-sizing: auto;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

/* #6C8556, #C37A6A, #E7E8D8, #939671, #9C3B66 */

body {
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 16px;
    padding-left: 8rem;
    width: 100%;
    height: 50px;
    background: white;
    z-index: 2;
    border-bottom: 2px solid #9c3b66;
}

header img {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 120px;
    width: 120px;
    border-radius: 150px;
    object-fit: cover;
    object-position: 50% 35%;
    margin-right: 16px;
    border: 3px solid #9c3b66;
}

#header-title {
    display: flex;
}

#title-infix {
    margin: 0 1rem;
}

#header-title div {
    margin-right: 2rem;
}

content {
    max-width: 1000px;
    height: calc(100% - 50px);
    display: flex;
    flex: 1 0;
    padding: 32px 40px;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 0 10px 2px #eee;
    overflow: auto;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#construction {
    align-self: center;
    margin: 5rem;
}

footer {
    z-index: 2;
    background:white;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}
